<!DOCTYPE html>
<html ng-app="app">

  <head>
    
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>

  </head>

  <body  ng-controller="ContactController">
    <ion-tabs class="tabs-positive">
	<ion-tab title="Create">
	<ion-header-bar class="bar-positive">
  <h1 class="title">Create Contacts</h1>
  </ion-header-bar>
	<ion-content>
	<div >
	<form>
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="" name="name" ng-model="newcontact.name">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="" name="lname" ng-model="newcontact.lname">
  </label>
    <label class="item item-input item-stacked-label">
    <span class="input-label">Phone</span>
    <input type="number" placeholder="" name="phone" ng-model="newcontact.phone">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="" name="email" ng-model="newcontact.email">
  </label>
  <br>
        <input type="hidden" ng-model="newcontact.id">
  <p align="center"><button class="button button-positive" ng-click="saveContact()"  >
  Create
</button></p>
</div>

	</ion-content>
	</ion-tab>
	<ion-tab title="Contacts">
	<ion-header-bar class="bar-positive">
  <h1 class="title">All Contacts</h1>
  </ion-header-bar>
	<ion-content>
	<label class="item item-input item-stacked-label">
	<input type="search" placeholder="Search" ng-model="searchText" >
	</label>
	<div class="list" ng-repeat="contact in contacts | filter:searchText | orderBy:searchText">

	

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>{{ contact.name }}</h2>
      <p>{{ contact.lname }}</p>
	  <p>{{ contact.phone }}</p>
	  <p>{{ contact.email }}</p>
	  <p align="center"><button href="#" ng-click="edit(contact.id)">edit</button> | 
    <button href="#" ng-click="delete(contact.id)">delete</button></p>
    </a>
	
	
</div>
	</ion-content>
	</ion-tab>
	</ion-tabs>
  </body>
</html>
